/* write down the css for Carousel in this file */
.carousel-container {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 2;
    transition: background-color 0.3s;
    height: 100%;
  }
  
  .prev-btn:hover,
  .next-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
  }
  
  .prev-btn {
    left: 0.01px;
  }
  
  .next-btn {
    right: 0.01px;
  }
  
  .image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-text {
    position: absolute;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(201, 195, 195, 0.889);
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .title {
    top: 50px;
    text-align: center;
    font-size: 24px;
  }
  
  .subtitle {
    bottom: 150px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
  }
  
  .image-text h2,
  .image-text p {
    margin: 5px 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  